!!!
%html
  %head
    %title
      PaperApp
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 
    'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-success.justify-content-end#nav-field
      = link_to('#', class: 'navbar-brand') do
        Центр удалённого пользования 
      %button{type: :button, class: 'navbar-toggler', 
      'data-toggle' => 'collapse', 'data-target' => '#navbarSupportedContent',
      'aria-controls' => 'navbarSupportedContent'}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            = link_to('#', class: 'nav-link') do
              Тест 1
          %li.nav-item.dropdown
            = link_to('#', class: 'nav-link dropdown-toggle', 
            'data-toggle' => 'dropdown') do
              Тест 2
            .dropdown-menu
              = link_to('#', class: 'dropdown-item') do
                Тест 3
              = link_to('#', class: 'dropdown-item') do
                Тест 4
    %ul.nav.nav-pills.flex-column
      %li.nav_item
        = link_to('#') do
          Тест 5
      %li.nav_item
        = link_to('#') do
          Тест 6
    #breadcrumbs
      %ol.breadcrumb
        %li
          = link_to('#') do
            Тест 5
        %li
          = link_to('#') do
            Тест 6
    #main-field
      = yield
