!!!
%html
  %head
    %title
      PaperApp
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 
    'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.blue-bg#nav-field
      = link_to('#', class: 'navbar-brand') do
        %span.border.p-1
          Центр удалённого пользования 
      %button{type: :button, class: 'navbar-toggler', 
      'data-toggle' => 'collapse', 'data-target' => '#navbarSupportedContent',
      'aria-controls' => 'navbarSupportedContent'}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.mr-auto
          %li.nav-item.dropdown
            = link_to('#', class: 'nav-link dropdown-toggle', 
            'data-toggle' => 'dropdown') do
              Лаборатории
            .dropdown-menu
              = link_to('#', class: 'dropdown-item') do
                Метрологические исследования поверхности
              = link_to('#', class: 'dropdown-item') do
                Гидравлика
          %li.nav-item.dropdown
            = link_to('#', class: 'nav-link dropdown-toggle', 
            'data-toggle' => 'dropdown') do
              Устройства
            .dropdown-menu
              = link_to('#', class: 'dropdown-item') do
                Кругломер Talyrond 200
              = link_to('#', class: 'dropdown-item') do
                Кругломер Talyrond 73
          %li.nav-item.dropdown
            = link_to('#', class: 'nav-link dropdown-toggle', 
            'data-toggle' => 'dropdown') do
              Трансляции
            .dropdown-menu
              = link_to('#', class: 'dropdown-item') do
                Исследование боковых поверхностей (Talyrond 73)
              = link_to('#', class: 'dropdown-item') do
                Исследование торцевых поверхностей (Talyrond 73)
        %ul.navbar-nav
          %li.nav-item.dropdown
            = link_to('#', class: 'nav-link dropdown-toggle', 
            'data-toggle' => 'dropdown') do
              radigin
            .dropdown-menu.dropdown-menu-right
              = link_to('#', class: 'dropdown-item') do
                Личный кабинет
              = link_to('#', class: 'dropdown-item') do
                Выйти
    .container-fluid            
      .row
        .col-sm-3.col-md-2.d-none.d-sm-block.bg-light.sidebar#sidebar
          %ul.nav.nav-pills.flex-column
            %li.nav_item
              = link_to('#') do
                = fa_icon :cog
                Круглограммы
            %li.nav_item
              = link_to('#') do
                = fa_icon 'bar-chart'
                Профиллограммы
            %li.nav_item
              = link_to('#') do
                = fa_icon :cubes
                3D-анализ
        .col-sm-3.col-md-2
        .col-sm-9.col-md-10#main-field
          #breadcrumbs
            %ol.breadcrumb.bg-white
              %li
                = link_to('#') do
                  Трансляции
              %li
                = link_to('#') do
                  Исследование боковых поверхностей (Talyrond 73)
              %li
                = link_to('#') do
                  От 16.12.2017
          = yield
